@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Icons:wght@400&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply leading-[normal] m-0;
}

*,
::before,
::after {
  border-width: 0;
}

.product-card {
  position: relative;
  background-color: #fff;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 20px;
  gap: 20px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #000;
  border-right-width: 6px;
  border-right-style: solid;
  border-right-color: #000;
  border-bottom-width: 6px;
  border-bottom-style: solid;
  border-bottom-color: #000;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #000;
}

.button-primary {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: gold;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0 8px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #000;
  border-right-width: 5px;
  border-right-style: solid;
  border-right-color: #000;
  border-bottom-width: 5px;
  border-bottom-style: solid;
  border-bottom-color: #000;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #000;
  padding: 8px;
  position: relative;
  font-size: 16px;
  line-height: 1;
  height: 40px;
  font-weight: 700;

}


.sidebar {
  height: 100%;
}

.sidebar-container {
  position: fixed;
  top: 0;
  /* Adjust this value based on your header's height or desired offset */
  height: 100vh;
  /* Optional: Adjust based on the height you want for the sidebar */
  /* max-height: 100vh; */
  /* This makes sure your sidebar doesn't extend beyond the viewport height */
  width: 300px;
  /* Adjust based on your sidebar's width */
  right: 0;
  transition: all 300ms ease-in-out;

  &:not(.show) {
    right: -300px;
  }
}


.app-body {
  transition: all 300ms ease-in-out;
}

.has-sidebar {
  width: calc(100% - 300px);

}

.dropdown {
  width: 100%;
  position: relative;
}

.dropdown-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 12px;
  gap: 12px;
  z-index: 1;
  color: #6e6e6e;
  border-width: 1px;
  border-style: solid;
  border-color: #a9a9a9;
  width: 100%;
}

.dropdown-list {
  border: 1px solid #a9a9a9;
  position: absolute;
  top: 36px;
  background-color: white;
  width: 100%;
}

.dropdown-list-item:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.dropdown-list-item {
  padding: 12px;
  border-bottom: 1px solid #a9a9a9;
  display: flex;
  align-items: center;
  gap: 12px;
}

.dropdown-list-item:last-child {
  border-bottom: unset
}

.dropdown-img {
  /* height: 24px; */
}